body {
    background-color: #F0EFF4;
    color: #0B2027;
    margin: 0px;
  }
  
  .navbar {
      overflow: hidden;
      background-color: #0B2027;
      padding: -10px -10px;
  }
  
  .navbar a {
    float: left;
    font-size: 20px;
    color: #F0EFF4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .menu-symbol {
    width: 35px;
    height: 5px;
    background-color: #F0EFF4;
    margin: 6px 0;
  }
  
  .dropdown{
      float: left;
      overflow: hidden;
  }
  
  .dropdown .dropbtn{
      font-size: 24px;
      border: none;
      outline: none;
      color: #F0EFF4;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #0B2027;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0B3948;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20px;
  }

  .dropdown-content a {
    float: none;
    color: #F0EFF4;
    padding: 22px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #0B2027;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
